.filter {
  margin-bottom: 25px;
  padding-left: 25px;
}
.form-input {
  display: block;
  min-width: 100px;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}
.label {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: rgb(47, 47, 47);
  margin-bottom: 10px;
}
