form {
  padding: 10px;
  width: 400px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: rgb(248, 248, 248);
}
.label {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: rgb(47, 47, 47);
  margin-bottom: 10px;
}
.form-input {
  display: block;
  min-width: 100px;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: rgb(18, 18, 18);
  border: none;
  background-color: rgb(168, 181, 255);
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 100px;
  padding: 5px 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  color: beige;
  background-color: rgb(0, 139, 232);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
